{% extends 'quotes_app/base.html' %}

{% block content %}

<a href="{% url 'quotes_app:main' %}">
    <div class="container mt-3 text-center">
        <h1>Quotes to Scrape</h1>
    </div>
</a>

<div class=" container mt-10 float-end" style="width: 300px;">
    <div class="container mt-10 text-end"><h2>Top ten tags</h2>
        {% for tag_dict in tag_list %}
        <div class="mb-2">
            <a href="{% url 'quotes_app:tags_search' %}?tag_id={{ tag_dict.tag_id }}">
                <button type="button" class="btn btn"
                        style="--bs-btn-padding-x: .13rem; --bs-btn-padding-y: .1rem; --bs-btn-font-size: {{ tag_dict.font_size }}rem; background-color: #87CEFA; color: white;">
                    {{ tag_dict.tag_name }}
                </button>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
<style>
    .bg-custom {
        background-color: #87CEFA;
    }









</style>

{% if quotes_view %}
<br>
<div class="container mt-3 text-left">
    <h2>Viewing tag:
        <a href="{% url 'quotes_app:tags_search' %}?tag_id={{ tag.id }}">
            {{ tag }}
        </a>
    </h2>
</div>
{% endif %}

{% for quot in quotes %}

<div class="alert-container">
    <div class="alert alert-info" role="alert">
        <h4 class="alert-heading"><em>{{ quot.quot }}</em></h4>
        <p class="mb-0">by <span>
            <small class="author" itemprop="author">
                <a href="{% url 'quotes_app:author_page' %}?author_id={{ quot.author.id }}">
                    {{ quot.author.fullname }}
                </a>
            </small>
        </span></p>
        <p class="mb-0">
        <div class="tags mt-0 mb-0">
            Tags:
            {% for tag in quot.tags.all %}
            <a href="{% url 'quotes_app:tags_search' %}?tag_id={{ tag.id }}">
                <button type="button" class="btn btn"
                        style="--bs-btn-padding-y: .13rem; --bs-btn-padding-x: .4rem; --bs-btn-font-size: .75rem; background-color: #87CEFA; color: white;">
                    {{ tag.name }}
                </button>
            </a>
            {% endfor %}
        </div>
        </p>
    </div>
</div>
{% endfor %}

<style>

     .container {
        max-width: 800px;
        margin: 0 auto;
    }

    .alert-container {
        max-width: 800px;
        margin: 0 auto;
    }





</style>

<div class="container mt-3">
    <nav aria-label="...">
        <ul class="pagination justify-content-center" style="padding: 10px;">
            <li class="page-item disabled">
                <span class="page-link">Previous</span>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
</div>
{% endblock %}
