{% extends 'quotes_app/base.html' %}

{% block content %}
<div class="container mt-3 text-center">
    <h2>Ceate new quot</h2>
</div>
<div class="container">
    {% if form.errors and form.non_field_errors %}
    <span class="alert alert-danger" role="alert">{{form.non_field_errors}}</span>
    {% endif %}
    <form action="{% url 'quotes_app:add_quot' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="container mt-3 text-center">
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="reset" class="btn btn-secondary">Reset</button>
            <a href="{% url 'quotes_app:main' %}" class="btn btn-success">To main</a>
        </div>
    </form>
    <br>
     <div class="container mt-3 text-center">
        <a href="{% url 'quotes_app:scrap_data' %}" class="btn btn-success">Make scraping from: http://quotes.toscrape.com/</a>
    </div>

</div>
 <style>

     .container {
        max-width: 800px;
        margin: 0 auto;
    }

 </style>
{% endblock %}
